<h3>User Database</h3>
<form class="example-form" [formGroup]="userForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" [formControl]="name">
    <mat-error *ngIf="!name.hasError('required')">
      Please enter a name
    </mat-error>
    <mat-error *ngIf="name.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="email">
    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="email.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="Password" [formControl]="password">
    <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
      Please enter a password of required length
    </mat-error>
    <mat-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" (click)="addUser()" color="primary">Add</button>
  <button id="allUsersButton" mat-raised-button (click)="displayUsers()" color="primary">All Users</button>
</form>

<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef> Password </th>
    <td mat-cell *matCellDef="let element"> {{element.password}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



