<!--
  <h1>This is root component.</h1>

<div class="Pages">
    <button mat-button color="primary" (click)="toDashboard()">Dashboard</button>
    <button mat-button color="accent" (click)="toFirst()">First</button>
    <button mat-button color="warn" (click)="toSecond()">Second</button>
    <button mat-button color="accent" (click)="toFourth()">Fourth</button>
</div>

<div class="form">
    <mat-form-field>
      <input matInput placeholder="Enter Name">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Say Something"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select Technology">
        <mat-option *ngFor="let option of options" value="{{option}}">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
-->



<router-outlet></router-outlet>