<!--
  <h1>This is root component.</h1>

<div class="Pages">
    <button mat-button color="primary" (click)="toDashboard()">Dashboard</button>
    <button mat-button color="accent" (click)="toFirst()">First</button>
    <button mat-button color="warn" (click)="toSecond()">Second</button>
    <button mat-button color="accent" (click)="toFourth()">Fourth</button>
</div>

<div class="form">
    <mat-form-field>
      <input matInput placeholder="Enter Name">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Say Something"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select Technology">
        <mat-option *ngFor="let option of options" value="{{option}}">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
-->

<mat-vertical-stepper linear="true" #stepper>
  <mat-step *ngFor="let question of questions" [stepControl]="userForm">
    <form [formGroup]="userForm">
      <ng-template matStepLabel>Question {{question.q_num}}</ng-template>
      {{question.des}}
      <mat-form-field>
        <input matInput placeholder="Your Answer" formControlName="ctrl" required>
      </mat-form-field>
      <div>
        <button ng-disabled="question.q_num === 1" mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<router-outlet></router-outlet>