.options-group {
    display: inline-flex;
    flex-direction: column;
}

.options-button {
margin: 5px;
}

.answer {
margin: 15px 0;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}